<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search for Movies to add to your Collection!</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Search for Movies for your Collection!</h1>
    <form method="GET" action="/search">
      <input type="text" name="title" placeholder="The Hobbit" >
      <input type="submit" value="Movie Search">
    </form>
  </body>
</html>